http://wheels.lejent.cn:28080/data/xuexiba-op/certifi-2018.10.15-py2.py3-none-any.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/chardet-3.0.4-py2.py3-none-any.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/Django-1.11-py2.py3-none-any.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/django_auth_ldap-1.5.0-py2.py3-none-any.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/dnspython-1.15.0-py3-none-any.whl
https://files.pythonhosted.org/packages/51/97/2e1e8aa7ea27171c3e249480d382e78b49ab4cead5dafb2124d2a1b58a83/gevent-1.4.0-cp36-cp36m-win_amd64.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/greenlet-0.4.15-cp36-cp36m-linux_x86_64.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/gunicorn-19.8.1-py2.py3-none-any.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/idna-2.7-py2.py3-none-any.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/marshmallow-2.16.3-py2.py3-none-any.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/pyasn1-0.4.4-py2.py3-none-any.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/pyasn1_modules-0.2.2-py2.py3-none-any.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/PyMySQL-0.8.0-py2.py3-none-any.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/python_etcd-0.4.5-py3-none-any.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/python_ldap-3.1.0-cp36-cp36m-linux_x86_64.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/pytz-2018.7-py3-none-any.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/requests-2.20.0-py2.py3-none-any.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/ujson-1.35-cp36-cp36m-linux_x86_64.whl
http://wheels.lejent.cn:28080/data/xuexiba-op/urllib3-1.24.1-py2.py3-none-any.whl
http://wheels.lejent.cn:28080/data/dragonstone/PowerRing-0.1-py3-none-any.whl
